/*
!/.github
!/frontend
!/LICENSES
!/src
!/.gitignore
!/LICENSE
!/LICENSE-APACHE
!/LICENSE-MIT
!/.prettierignore
!/Cargo.lock
!/Cargo.toml
!/eslint.config.js
!/package.json
!/pnpm-lock.yaml
!/prettier.config.js
!/rustfmt.toml
!/taplo.toml
!/tsconfig.json
!/vite.config.ts
!/wrangler.toml
