@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;

  --color-primary: oklch(52% 0.17 150);
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  color-scheme: dark;

  --color-primary: oklch(67% 0.16 150);
}

html,
body,
#app {
  height: 100%;
  overflow: hidden;
}
